<!-- templates/registration/login.html -->
{% extends 'food/base.html' %}
{% load static %}
{% block content %}
<div class="my_container" style="background-image: url({% static 'images/background5.jpg' %});">
	<div class="drag">
	<form method="post" class="login_form" action="{% url 'login' %}">
		{% csrf_token %}
		<h1>Sign In</h2>
		{% if form.errors %}
			<p class="errorlist">Your username or password is incorrect</p>
		{% endif %}
		<p class="input">Username</p>
		<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required="">

		<p class="input">Password</p>
		<input type="password" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" required>
		<button type="submit"><span><i class="fas fa-sign-in-alt"></i></span></button>
	</form>
</div>
</div>
{% endblock %}