{% extends 'food/base.html' %}
{% block content %}
{% load static %}
<div class="my_container" style="background-image: url({% static 'images/background2.jpg' %});">
	<div class="drag">
	<form method="post" class="register_form" action="{% url 'register' %}">
		{% csrf_token %}
		<h1>Register</h1>
		{% if form.errors %}
			{% firstof form.phone.errors form.username.errors form.email.errors form.password1.errors form.password2.errors %}
		{% endif %}
		<div class="reg_left" style="height: 75vh;">
			<p class="input">Name of Restaurant</p>
			<input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" required="">

			<p class="input">Phone #</p>
			<input type="text" id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" required="">

			<p class="input">Restaurant Address</p>
			<input type="search" id="address_search" name="{{ form.location.html_name }}" required="" style="margin-bottom: 0;">
			<label style="margin-bottom: 1.3em;">Please enter full address (ex. 123 N Main St City, ST 11111)</label>

			<p class="input">Email Address</p>
			<input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required="">
		</div>
		
		<div class="reg_right">
			<p class="input">Username</p>
			<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required="">

			<p class="input">Password</p>
			<input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" class="password1" required>
			<label>Minimum 8 characters. Can't be fully numeric</label>

			<p class="input">Password Confirmation</p>
			<input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" class="password2"required >
			<label>Enter the same password as before, for verification</label>
		</div>
		<div class="left" style="float: left;">
		<button type="submit" style="font-weight:bold;">Create my account</button>
		</div>
	</form>
</div>
</div>

<script>
		function initAutocomplete() {
  			autocomplete = new google.maps.places.Autocomplete(
      			document.getElementById('address_search'));
  		}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdMG1pZuYC62w7geoDmMr0mELCBmoFtvY&libraries=places&callback=initAutocomplete">
	</script>
{% endblock %}

