{% extends 'food/base.html' %}
{% block content %}
<div class="content_container">
	<form method="post" class="register_form" action="{% url 'register' %}">
		{% csrf_token %}
		<h1>Register</h1>
		{% if form.errors %}
			{% firstof form.phone.errors form.username.errors form.email.errors form.password1.errors form.password2.errors %}
		{% endif %}
		<div class="reg_left">
			<p class="input">Name of Restaurant</p>
			<input type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" required="">

			<p class="input">Phone #</p>
			<input type="text" id="{{ form.phone.id_for_label }}" name="{{ form.phone.html_name }}" required="">

			<p class="input">Restaurant Address</p>
			<input type="text" id="address_search" name="{{ form.location.html_name }}" required="">

			<p class="input">Email Address</p>
			<input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" required="">
		</div>
		
		<div class="reg_right">
			<p class="input">Username</p>
			<input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}" required="">

			<p class="input">Password</p>
			<input type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" class="password1" required>
			<label>Minimum 8 characters. Can't be fully numeric</label>

			<p class="input">Password Confirmation</p>
			<input type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" class="password2"required >
			<label>Enter the same password as before, for verification</label>
		</div>
		<button type="submit">Create my account</button>
	</form>
</div>

<script>
  	var placesAutocomplete = places({
   		appId: 'plL015VD6UKT',
   		apiKey: '989bd6db29a5c5c1a269b78c7a95bfd8',
   		container: document.querySelector('address_search')
 	});
</script>
{% endblock %}

