{% extends 'food/base.html' %}
{% load static %}
{% block content %}
	<div class="content_container">
		<h1>Profile</h1>
		<p>Restaurant Name: {{ user.name }}</p>
		<p>Restaurant Address: {{ user.location }}</p>
		<p>Phone #: {{ user.phone }}</p>
		<p>Email: {{user.email}}</p>
		<form action="{% url 'edit_profile' %}" style="display: inline-block;">
			<button style="width: 8em;">Edit your profile</button>
		</form>
		<form action="{% url 'foods_listed' %}" style="display: inline-block;">
			<button style="width: 8em;">See what food you've listed</button>
		</form>	
	</div>
{% endblock %}