{% extends 'food/base.html' %}
{% load static %}
{% block content %}
	<div class="content_container" style="background-image: url({% static 'images/background5.jpg'%});">
		<h1 style="font-weight: bold;">You just claimed {{ food.title }}</h1>
		<h3>Restaurant: {{ restaurant.name }}</h3>
		<h3>Location: {{ food.location }}</h3>
		<p>You can pick up your food from {{ restaurant.name }} at {{ food.location }}. To contact {{ food.provider }}, call {{ restaurant.phone }} or email {{ restaurant.email }}</p>
	</div>
{% endblock %}