{% extends 'food/base.html' %}
{% load static %}
{% block content %}
	<div class="content_container" style="background-image: url({% static 'images/background6.jpg'%});">
			<h2 style="font-weight: bold; ">Food items available</h2>
			<form class="controls" action="{% url 'food_list' %}" method="POST">
				{% csrf_token %}
    			<div class="checkbox">
      				<input type="checkbox" value="vegan" name="restrictions" {% if restrictions.vegan %} checked {% endif%} />
      				<label>Vegan</label>
      				<input type="checkbox" value="vegetarian" name="restrictions" {% if restrictions.vegetarian %} checked {% endif%} />
      				<label>Vegetarian</label>
      				<input type="checkbox" value="gluten_free" name="restrictions" {% if restrictions.gluten_free %} checked {% endif%} />
      				<label>Gluten-Free</label>
      				<button type="submit" class="filter_btn" style="margin-left: 1em;">Filter</button>  			
    			</div>
			</form>
			<form action="{% url 'food_list' %}" method="GET" style="margin-bottom: 2.5em;">
      			<button type="submit" class="filter_btn" style="width: 8em;">Reset Filters</button>
      		</form>
			<div class="food_item reg_left" style="height: 75vh; width: 50%; overflow-y: scroll; align-items: flex-start;">
			<ol style="padding-left: 6em;">
				{% for food in foods%}
				<div class="item" id="{{food.pk}}" onclick="hover('{{food.pk}}')" style="margin-bottom: .6em; text-align: left;">
				<li>
					<h5 style="font-weight: bold; padding-left: 2em;"><a href="{% url 'food_detail' pk=food.pk %}" id="list" >{{food.title}}</a></h5>
					<ul style="list-style-type: none; padding-left: 4em;">
						{% if food.vegan %}
							<li>Vegan</li>
            {% endif %}
						{% if food.vegetarian %}
							<li>Vegetarian</li>
            {% endif %}
						{% if food.gluten_free %}
							<li>Gluten-Free</li>
            {% endif %}
					</ul>
				</li>
				</div>
				{% empty %}
					<li>No food matching those filters available</li>
				{% endfor %}
			</ol>
		</div>
		<div class="map_container reg_right" style="">
			<div id="map" style="width: 100vh; height: 75vh; position: absolute;"></div>
		</div>
</div>
	<script>
      var foodarray = []
      var markerarray = []
        	{% for food in foods %}
        		additem = {'pk': '{{food.pk}}', 'lat': '{{food.lat}}', 'lng': '{{food.lng}}', 'title': '{{food.title}}'};
        		foodarray.push(additem)
        	{% endfor %}

        
      function initMap() {
      		var boston = {lat: 42.360, lng: -71.058};
        	var map = new google.maps.Map(document.getElementById('map'), {
          		center: boston,
          		zoom: 13,
       		 });
        	
        	var infoWindow = new google.maps.InfoWindow();

        	for(i = 0; i < foodarray.length; i++){
        		var position = new google.maps.LatLng(parseFloat(foodarray[i].lat), parseFloat(foodarray[i].lng));
        		var marker = new google.maps.Marker({
        			position: position,
        			map: map,
        			title: foodarray[i].title,
        		});

        		var obj = {'pk': foodarray[i].pk, 'marker': marker}
        		markerarray.push(obj);

        		var url = "{% url 'food_detail' 123 %}".replace('123', foodarray[i].pk);

        		var content =   "<h5 id=\"info_"+ foodarray[i].pk+"\">" + foodarray[i].title +"</h5><p><a style=\"text-decoration: underline\" href=\""+url+"\">See More Details</a></p>"

        		google.maps.event.addListener(marker,'click', (function(marker,content,infoWindow){ 
    				return function() {
    					infoWindow.close()
       					 infoWindow.setContent(content);
        					infoWindow.open(map,marker);
    						};
						})(marker,content,infoWindow));
        	}
        	
          // get users current location.
          infoWindow2 = new google.maps.InfoWindow;
          if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
          };
          var marker2 = new google.maps.Marker({position: pos, map: map});
          marker2.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');
          google.maps.event.addListener(marker2,'click', function(){
          infoWindow2.setContent('You are here.');
            infoWindow2.open(map,marker2);
            });
          map.setCenter(pos);
          }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
          });
          } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
          }

          // search some place.
          if(localStorage.getItem("search") !== ""){
          	var search = localStorage.getItem("search");
          	console.log(search);
          	geocoder = new google.maps.Geocoder();
         	 geocoder.geocode( { 'address': search}, function(results, status) {
          	if (status == 'OK') {
            // map.setCenter(results[0].geometry.location);
            var marker3 = new google.maps.Marker({
                map: map,
                position: results[0].geometry.location
            });
            map.setCenter(results[0].geometry.location);
            infoWindow3 = new google.maps.InfoWindow;
            google.maps.event.addListener(marker3,'click', function(){
              infoWindow3.setContent(search);
              infoWindow3.open(map,marker3);
            });
            marker3.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png');
          	} else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        	});
      }
          
  		}
  		

  		setTimeout(function(){
    console.log(markerarray);
},3000);
  			function hover(pk){
  				var items = document.getElementsByClassName("item");
    			for(j=0; j<items.length; j++){		
    					items[j].classList.remove("selected");
    			}
  				var index;
  				for(i=0; i < markerarray.length; i++){
    				if(markerarray[i].pk == pk){
       					index = i;
        				break;
    				}
    			}
        		google.maps.event.trigger(markerarray[index].marker, 'click');
    			document.getElementById(pk).classList.add("selected");
        	}

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdMG1pZuYC62w7geoDmMr0mELCBmoFtvY&language=en&callback=initMap">
		</script>
{% endblock %}