{% extends "food/base.html" %}
{% load static %}
{% block content %}
	<div class="search_container" style="background-image: url({% static 'images/background.jpg' %});">
		<div class="wrapper">
		<p class="search_q">Looking for food near you?</p>
		<div class="search_bar">
			<form action="{% url 'food_list' %}">
				<input type="text" placeholder="Enter your address" class="search_input" id="search_input">
				<button type="submit" onClick="testJS()"><span><i class="fas fa-arrow-right"></i></span></button>
			</form>
			<script>
			function testJS() {
				var getInput = document.getElementById("search_input").value; 
				localStorage.setItem("search", getInput);
			}
			</script>
		</div>
		</div>
	</div>
	<script>
		function initAutocomplete() {
  			autocomplete = new google.maps.places.Autocomplete(
      			document.getElementById('search_input'));
  		}
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdMG1pZuYC62w7geoDmMr0mELCBmoFtvY&libraries=places&callback=initAutocomplete">
	</script>
{% endblock %}
