html{
	min-height: 100vh;
}

body{
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
}

header{
/*	background-color: #FFFFFF;
*/	position: relative;
	background: transparent;
}

a{
	color: black;
}

a:link{
	color: black;
}

a:visited{
	color: black;
}

.navbar{
	position: absolute;
	background: transparent;
	width: 100%;
	z-index: 2;
	padding-top: 1em;
}
/*
.content_containter{
	align-content: center;
	min-height: 100vh;
}*/

.logo{
	float: left;
	padding-left: .5em;
	font-weight: 900;
	font-size: 2em;
}

.nav_container{
	display: flex;
	float: right;
	padding-right: 1em;
}

.nav_container .about{
	padding-right: 1.5em;
}

.nav_container span{
	padding-right: .5em;
}

.search_container{
	position: absolute;
	z-index: 1;
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: cover;
	width: 100%;
	height: 100%;
	/*margin: 2em;*/
	/*padding: 7em;*/
	/*background-color: #226597;*/
	/*height: 60vh;*/
}

.wrapper{
	margin: 0 auto;
	background-color: rgba(237, 230, 213, .9);
	width: 65%;
	height: 30%;
}

.search_q{
	font-size:1.5em;
	font-weight: 900;
	text-align: center;
	margin-top: 10em;
	padding-top: 1.5em;
}

.search_input{
	width: 70%;
	background-color: transparent;
	border-style: none;
	border-bottom: 1px solid #000000;
}

.search_input::placeholder{
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.search_bar{
	padding-top: 1em;
	text-align: center;
}

.search_bar button{
	background-color: transparent;
	border-style: none;
}

.content_container{
	position: absolute;
	align-items: center;
	text-align: center;
	margin-top: 5em;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
}

.errorlist{
	color: red;
	list-style: none;
}

.login_form input{
	border-style: none;
	border: 1px solid #000000;
	border-top: 0px;
	background: transparent;
	display: block;
	height: 2em;
	width: 12em;
	margin: 1em auto 1em auto;
	position: relative;
}

.login_form h1{
	font-size: 1.75em;
	font-weight: 900;
	align-content: center;
	/*margin-bottom: 1em;*/
}

.login_form button{
	background: transparent;
	border: 1px solid #000000;
	border-radius: 15px;
	margin-top: 1em;
	height: 3em;
	width: 5em;
}

.register_form input{
	border-style: none;
	border: 1px solid #000000;
	border-top: 0px;
	background: transparent;
	display: block;
	height: 2em;
	width: 16em;
	margin: 1em auto 2em auto;
	position: relative;
}

#id_password1.password1{
	margin-bottom: 0em;
}

#id_password2.password2{
	margin-bottom: 0em;
}

.register_form h1{
	font-size: 1.75em;
	font-weight: 900;
	align-content: center;
	/*margin-bottom: 1em;*/
}

.register_form button{
	background: transparent;
	border: 1px solid #000000;
	border-radius: 15px;
	height: 3em;
	width: 11em;
}

.register_form label{
	font-size: .80em;
	margin-bottom: 1em;
}

.reg_left{
	width: 50vh;
	height: 50vh;
	float: left;
	overflow: auto;
	margin-bottom: 1em;
}

.reg_right{
	width: 50vh;
	height: 50vh;
	float: left;
	margin-bottom: 1em;
}

.hover{
	color: green;
}
